main *{
    box-sizing: border-box;
    margin: 0;
}


main{
    display: flex;
    width: 100%;
     height: 100vh;
    background-color: rgba(57, 55, 53, 0.68);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
main>h1{
    color: white;
}
form{
    width: 100%;
    height: 100%;
}
form>div{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  padding: 20px;
  
  border-radius: 6px;
}
form>div>p{
    color: white;
}
button {
    background-color:rgba(0, 0, 0, 0.5); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}
main>div{
    background-color: rgba(57, 55, 53, 0.9);
    height: 15%;
    width: 65%;
}
@media only screen and (max-width:500px){
    main{
        justify-content: flex-start;
    }
main>div{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
height: 30%;

}
form>div{
    flex-direction: column;
}
input{
    width: 80%;
    height: 20%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}
nav>button{
margin-right: 1px;
    width: 30%;
    height: 100%;
}

    
}
