
#contenedor-galeria{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px;
    border-radius: 10px;
    align-items: center;
  
   
}
#contenedor-galeria > img {
    margin: 10px;
    width: 90%;  
    object-fit: contain;

}
#contenedor-galeria > div:first-of-type{
    display: flex;
    flex-direction:row;
    color: blue;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    font-size: 30px;
    height: 20px;
    } 
#contenedor-galeria > div:first-of-type > button {
        border-radius: 30px;
    } 
#contenedor-galeria > div:last-of-type{
    background-color: #ebebee;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    height: 50%;
}

#exposicion{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px;
    border-radius: 10px;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
}

#exposicion > div{
    display: flex;
    flex-direction: row;
}
#exposicion > h1{
    text-align: center;
    font-size: 40px;
}
#exposicion > h3{
    font-size: 30px;
}
#exposicion > *{
    margin: 5px;
}

#list-of-ciudades, #list-of-hoteles{
    align-self: center;
    background-color: #ebebee;
    margin: 15px;
    width: 40%;
    height: 100px;
    overflow: auto;
    color: black;
}
#div-submit{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 400px) {
main > div {display: flex;
flex-wrap: wrap;
justify-content: center;
}
#exposicion{
    width: 60%;
}
#contenedor-galeria{
    width: 30%;
}
}