
#contenedor-galeria{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px;
    border-radius: 10px;
    align-items: center;
   
}
#contenedor-galeria > img {
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    object-fit: contain;

}
#contenedor-galeria > div:first-of-type{
    display: flex;
    flex-direction:row;
    color: blue;
    justify-content: space-between;
    margin: 10px;
    font-size: 30px;
    height: 20px;
    } 
#contenedor-galeria > div:first-of-type > button {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        } 
#contenedor-galeria > div:last-of-type{
    background-color: #ebebee;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    height: 50%;
}

#niidea{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px;
    border-radius: 10px;
    color: white;
}


#selection {
 background-color:#E0E1E6;
 margin: 10px;
 border-radius: 30px
}

#selector{
    appearance: none;
    margin-left: 15px;
    border: none;
    background-color:#E0E1E6;
}

#viewitinerario{
    background-color:#E0E1E6;
 margin: 10px;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
}
#viewitinerario > iframe{
    margin: 10px;
    border: 1px solid black;
}

#viewitinerario > button {
    background-color: rgb(0, 0, 0, 0.5);
    appearance: none;
    width: 40%;
    margin: 5px;
}

#comentarios{
    color:#ebebee;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 15px;
}

#comentarios-request{
    background-color: grey;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 400px;
    border-radius: 30px;
}

#view-comentarios{
    background-color: #ebebee;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    color: black;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    
}

#view-comentarios > span{
 text-decoration: underline ;
}

@media (max-widith: 480px){
main> div{
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
}
#contenedor-galeria, #comentarios{
    width: 20%;
}

#niidea{
    width: 60%;
}

}


