main *{
    box-sizing: border-box;
    
    padding: 0;
}
main{
    width: 100%;
    height: 86.5vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(57, 55, 53, 0.48);
   
}
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  img{
    height: 100px;
    width: 100px;
  }
  #container1_1{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 75%;
    align-items: center;
    justify-content: space-evenly;
    overflow: scroll;
  }
  #container1_1::-webkit-scrollbar{
    display: none;
  }
  #container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 80%;
    background-color: rgba(235, 235, 235, 0.5);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 30px;
  }
  #container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(235, 235, 235, 0.5);
    height: 50%;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 30px;
  }
  #valoracion{
    display: flex;
    flex-direction: row;
  }
  #valoracion>h3{
    margin-right: 10px;
  }

  #container1_1>div{
    background-color: rgba(235, 235, 235, 0.68);
    width: 23%;
    height: 80%;
  }