main{
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgb(0, 0, 0, 0.5);
}
h1,h2{
    margin: 10px;
}

#perfil{
    display: flex;
    flex-direction: row;
}


#perfil > div:first-of-type{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 1px;
}


#cambiarfoto{
visibility: hidden;
}
#perfil > div:last-of-type {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    margin-left: 15px;
}
#request-historial{
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    color: #000;
    height: auto;
}
hr{
    margin: 10px;
}
#request-historial > div{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    margin: 10px;
    height: auto;
}

#view-historial{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   border: 1px solid black ;
   border-radius: 15px;
   margin-right: 10px;
}
#view-historial>img{
    margin: 10px;
    width: 150px;
    object-fit: contain;
}


@media (min-width: 700px) {
    #imgperfil{
        object-fit: contain;
        width: 300px;
    }
}
#imgperfil{
    object-fit: contain;
    width: 100px;
}